<% if user_signed_in? %>
  <div class="comment-form clearfix">
    <div class="user-image">
      <%= image_tag current_user.image_url %>
    </div>

    <%= form_for comment, url: { controller: :comments, action: :create } do |f| %>
      <div class="comment-box clearfix">
        <div class="form-group">
          <%= f.text_area :body, class: "form-control", placeholder: "対応履歴を記入" %>
        </div>
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-pencil"></span>コメントする
        </button>
      </div>
      <%= f.hidden_field :customer_id, value: customer.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    <% end %>
  </div>
<% end %>
